.sliding-panel {
	transform: translateX(-100%); /* Start hidden off-screen */
	transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.sliding-panel.open {
	transform: translateX(0); /* Slide in */
}

.sliding-panel.closed {
	transform: translateX(-100%); /* Slide out */
}
.sliding-panel.fullscreen {
	@apply w-[100vw] h-[100dvh];
}
